html{
    background-image:url(../Image/coverbackground.jpg);
    background-repeat:repeat-x;
}

div img{
    margin: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

body{
    width:800px;
    padding-bottom:50px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff;
    border:4px dotted #000;
}

h1{
    font-size: 12pt;
    font-family: 'Pacifico';
    text-align: center;
    color:#800000;
    border-top: 4px dotted #000;
    border-bottom: 4px dotted #000;
}

h2{
    font-size: 24px;
    font-family: 'Shadows Into Light';
    color: black;
}

a{
    color:#800000;
    font-size: 12pt;
    text-align: center;
    text-decoration:none;
    text-transform: uppercase; 
}

a:hover{
    color:#000; 
}

p{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14pt;
    font-family: 'Indie Flower';
    line-height: 14pt;
}


img{
    margin: center;
    margin-left: auto;
    margin-right: auto;
    border:medium solid #666;
}